<%= form_for(@quote) do |f| %>


    <div class="form-group">
      <p>
        <%= f.label :content %><br>
        <%= f.text_area :content, size: '60x12', placeholder: 'Type the quote text here' %><br>
        <small class="form-text text-muted">(text must be between 10 and 300 signs)</small>
      </p>
    </div>
    
    
    <p>
      <%= f.submit class: 'btn btn-primary'%>
    </p>
<% end %>


<%= link_to 'Back', quotes_path, class: 'btn btn-secondary' %>